<script>
	// import '../app.scss';
	import { page } from '$app/stores';
	import '../app.css';
	export let data;
</script>

<!-- https://css-tricks.com/how-to-use-tailwind-on-a-svelte-site/ -->

<div class="container px-6 lg min-h-screen m-auto" style="border:1px solid gray ">
	<div class="navbar sticky top-0 bg-base-100 z-50">
		<div class="navbar-start">
			<div class="dropdown">
				<label tabindex="0" class="btn btn-ghost lg:hidden">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h8m-8 6h16"
						/></svg
					>
				</label>
				<ul
					tabindex="0"
					class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
				>
					<li><a href="/">home</a></li>
					<li tabindex="1">
						<a class="justify-between">
							Parent
							<svg
								class="fill-current"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg
							>
						</a>
						<ul class="p-2 bg-white">
							<li><a href="/register">Регистрация</a></li>
							<li><a href="/login">Вход</a></li>
						</ul>
					</li>
					<li>
						{#if data.session?.user?.name}
							<a href="/quiz/0">Quiz</a>
						{:else}
							<a href="/login">Quiz</a>
						{/if}
					</li>
				</ul>
			</div>
			<a class="btn btn-ghost normal-case text-xl">daisyUI</a>
		</div>
		<div class="navbar-center hidden lg:flex">
			<ul class="menu menu-horizontal px-1">
				<li><a href="/">Home</a></li>
				<li>
					<a href="#">
						Parent
						<svg
							class="fill-current"
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 24 24"
							><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg
						>
					</a>
					<ul class="p-2 bg-slate-50 z-50">
						<li><a href="/register">Регистрация</a></li>
						<li><a href="/login">Вход</a></li>
					</ul>
				</li>
				<li><a href="/quiz/0">Quiz</a></li>
			</ul>
		</div>
		<div class="navbar-end">
			{#if data.session.user}
				<form action="/bye">
					<button>Привет, {data.session.user.name}</button>
				</form>
			{:else}
				<a class="btn">Get started</a>
			{/if}
		</div>
	</div>

	<!-- <div class="mt-3 mb-5">
		<p>Layout - Начало</p>
		<p>data.session:</p>
		<div>
			{JSON.stringify(data.session)}
		</div>
	</div>
	<div class="mt-3 mb-5">
		<p>props data:</p>
		<div>
			{JSON.stringify(data)}
		</div>

		<p>Layout - Конец</p>
	</div> -->

	<slot />

	<footer
		style="margin-bottom: 5px;"
		class="sticky top-full mb-auto footer p-10 bg-neutral text-neutral-content"
	>
		<div>
			<span class="footer-title">Services</span>
		</div>
		<div>
			<span class="footer-title">Company</span>
		</div>
		<div>
			<span class="footer-title">Legal</span>
		</div>
	</footer>
</div>

<style lang="postcss">
	:global(html, body) {
		min-height: 100vh;
	}
	:global(body) {
		background-color: theme(colors.gray.200);
	}
</style>
